---
import Layout from "../layouts/subpage.astro";
import { PortableText } from "astro-portabletext";
import { getPageData, getSectionData } from "../utilities/sanity-utilities";
import AccentListItem from "../components/blocks/AccentListItem.astro";
import ulist2 from "../components/blocks/ulist2.astro";

const pageData = await getPageData("authors-information");
const pageTitle = pageData.title;
const sectionData = getSectionData(
  pageData,
  "publication-guidelines-for-authors"
);
const publicationGuideLinesIntro = sectionData.blocks[0];

const guideLinesComps = {
  list: ulist2,
  listItem: AccentListItem,
};
---

<Layout title={pageTitle}>
  <main>
    <section>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-4 sm:py-8">
        <div>
          <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900">
              {publicationGuideLinesIntro.title}
            </h3>
            <p class="mt-1 text-sm leading-6 text-gray-500">
              {publicationGuideLinesIntro.text}
            </p>
          </div>
          <div class="mt-6 border-t border-gray-100">
            <dl class="divide-y divide-gray-100">
              {
                sectionData.blocks.map((block) => (
                  <div class="py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">
                      {block.title}
                    </dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                      {block._type === "textComponent" ? (
                        block.text
                      ) : block._type === "richTextComponent" ? (
                        <PortableText
                          value={block.richText}
                          components={guideLinesComps}
                        />
                      ) : block._type === "linkComponent" ? (
                        <a
                          target="_blank"
                          href={block.url}
                          class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                        >
                          Click to download
                        </a>
                      ) : (
                        <p>cool</p>
                      )}
                    </dd>
                  </div>
                ))
              }
            </dl>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
