---
import Layout from "../layouts/subpage.astro";
import PeerReviewProcess from "../components/peer-review-policy/PeerReviewProcess.astro";
import PublishersEthics from "../components/peer-review-policy/PublishersEthics.astro";
import ReviewerGuidelines from "../components/peer-review-policy/ReviewerGuidelines.astro";
import PeerReviewStatus from "../components/peer-review-policy/PeerReviewStatus.astro";

import { getPageData } from "../utilities/sanity-utilities";
const { title, sections } = await getPageData("peer-review-policy");
---

<Layout title={title}>
  <main>
    <section>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="pb-10">
          <PeerReviewProcess data={sections[0]} />
          <PeerReviewStatus data={sections[1]} />
          <ReviewerGuidelines data={sections[2]} />
          <PublishersEthics data={sections[3]} />
        </div>
      </div>
    </section>
  </main>
</Layout>
